#signup-div form,
#login-div form {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-size: larger;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 35%;
  margin-top: 100px;
  /* display: none; */
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/119/108/original/plain-dirty-grunge-background-vector.jpg");
  z-index: 1;
  margin-top: 3em;
}

#signup-div a,
#login-div a {
  text-decoration: none;
  color: blue;
}

#signup-div a:hover,
#login-div a:hover {
  text-decoration: underline;
  font-size: 20px;
}

/* cross-button */
#signup-form > span,
#login-form > span {
  font-size: 30px;
  font-weight: bolder;
  align-self: flex-end;
  color: #359391;
}
#signup-form > span:hover,
#login-form > span:hover {
  cursor: pointer;
}
#signup-form > span:active,
#login-form > span:active {
  color: red;
  user-select: none;
}

#signup-div form > label,
#login-div form > label {
  margin-top: 10px;
  margin-bottom: 10px;
}

#signup-div input,
#login-div input {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
}

#signup-div input[type="submit"],
#login-div input[type="submit"] {
  margin-top: 20px;
  align-items: center;
  border: none;
  padding: 15px 25px;
  color: white;
  background-color: #359391;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
}

#signup-div input[type="submit"]:hover,
#login-div input[type="submit"]:hover {
  color: #359391;
  background-color: white;
  border: 2px solid #359391;
  font-size: larger;
}

#signup-div,
#login-div {
  display: none;
}

.usersubmenu {
  width: 200px;
  background-color: white;
  display: none;
  position: absolute;
  right: -20px;
  top: 100%;
  padding: 10px;
}

.usermenu {
  position: relative;
  display: none;
}

.usersubmenu ul {
  list-style: none;
}

.usersubmenu a {
  color: #62646a;
  padding: 5px;
  display: block;
}

.usermenu:hover .usersubmenu {
  display: block;
}

.usersubmenu a:hover {
  background-color: #eee;
}
/* mid-screen */
@media (max-width: 800px) {
  #signup-div form,
  #login-div form {
    margin: auto;
    max-width: 25em;
    margin-top: 5em;
    font-size: medium;
  }
}
/* low-screen */
@media (max-width: 500px) {
  #signup-div form,
  #login-div form {
    max-width: 20em;
  }
}
