#signup-div form, #login-div form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    box-shadow: 0px 8px 24px 0 rgb(29 140 242 / 16%);
    padding: 20px 15px;
    border: 0.5px solid black;
    border-radius: 10px;
    font-size: 18px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: wheat;
    margin-top: 100px;
    /* display: none; */
}

#signup-div a, #login-div a{
    text-decoration: none;
    color: blue;
}

#signup-div a:hover, #login-div a:hover{
    text-decoration:underline;
    color: blue;
}

#signup-div form>label, #login-div form>label{
    margin-top: 10px;
    margin-bottom: 10px;
}

#signup-div input, #login-div input{
    padding: 7px 10px;
    font-size: 16px;
}

#signup-div input[type="submit"], #login-div input[type="submit"]{
    margin-top: 20px;
    align-items: center;
    border: none;
    padding: 15px 25px;
    background-color: #5034ff;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
}

#signup-div input[type="submit"]:hover, #login-div input[type="submit"]:hover{
    background-color: #7171de;
    color: #F0F3FF;
}

#signup-div, #login-div {
    display: none;
}

.usersubmenu {
    width: 200px;
    background-color: white;
    display: none;
    position: absolute;
    right: -20px;
    top: 100%;
    padding: 10px;
}

.usermenu {
    position: relative;
    display: none;
}

.usersubmenu ul {
    list-style: none;
}

.usersubmenu a {
    color: #62646A;
    padding: 5px;
    display: block;
}

.usermenu:hover .usersubmenu {
    display: block;
}

.usersubmenu a:hover {
    background-color: #eee
}


