body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 15%;
}
.container {
  display: flex;
  flex-flow: column;
  height: 100;
  align-items: space-around;
  justify-content: center;
}

.userinput {
  display: flex;
  justify-content: center;
}

input {
  margin: 10px;
  height: 35px;
  width: 65px;
  /* border:none; */
  border-radius: 5px;
  text-align: center;
  font-family: arimo;
  font-size: 1.1rem;
  background: #eef2f3;
}

h1 {
  text-align: center;
  color: black;
}

button {
  width: 150px;
  height: 40px;
  margin: 25px auto 0px auto;
  font-family: arimo;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 5px;
  cursor: pointer;
}
#paydone {
  position: absolute;
  display: none;
  top: 50px;
  margin: 0 400px;
  max-width: 50%;
  border-radius: 50px 1000px 100% 1000px;
}

.loading {
  position: relative;
  width: 250px;
  height: 250px;
  animation: rotate 4s ease-out infinite;
  filter: url("#gooey");
  margin: auto;
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loading .liquid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #c7eeff, #03a9f4);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  --ani_dur: 4s;
}

.loading .liquid:nth-child(1) {
  top: 0;
  animation: animate1 var(--ani_dur) linear infinite;
}

.loading .liquid:nth-child(2) {
  left: 0;
  animation: animate2 var(--ani_dur) linear infinite;
}

.loading .liquid:nth-child(3) {
  left: 100%;
  animation: animate3 var(--ani_dur) linear infinite;
}

.loading .liquid:nth-child(4) {
  top: 100%;
  animation: animate4 var(--ani_dur) linear infinite;
}

@keyframes animate1 {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate3 {
  0% {
    left: 100%;
  }

  50% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes animate4 {
  0% {
    top: 100%;
  }

  50% {
    top: 0;
  }

  100% {
    top: 0;
  }
}

svg {
  width: 0;
  height: 0;
}
