/* cart-item-pakages */
/* <!-- navbar --> */
* {
  font-family: helvetica, arial, sans-serif;
}
/* Nav-Bar */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 10px;
  background-color: white;
  border-bottom: 1px solid #333333;
}
nav img {
  max-width: 25%;
}
nav div {
  display: flex;
  gap: 100px;
}
nav a {
  color: #333333;
  text-decoration: none;
  font-size: larger;
}
nav a:hover {
  color: #359391;
}
/* <!-- Search-Bar --> */
#searchbar{
  min-width: 40%;
  padding: 10px;
  border-radius: 5px;
  position: sticky;
  top: 100px;
}
/* sponsered */
#packages {
  margin: 0 100px;
  margin-top: 30px;
}
#packages > h1 {
  color: #333333;
}
#pakages-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
#pakages-cards > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
#pakages-cards > div > img {
  max-width: 100%;
  border-radius: 4px;
}

.location,
.price,
.pakage-Retreats {
  display: flex;
  justify-content: space-around;
}
.location span {
  font-weight: bold;
  color: #359391;
}
.location img {
  max-width: 100%;
}
.discription {
  font-weight: bold;
  color: #333333;
}
.location button {
  border: 0;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 100%;
  max-height: 100%;
  color: white;
  background-color: #359391;
}
.price > span {
  font-size: larger;
  font-weight: bold;
}
.price button {
  padding: 5px 10px;
  color: #359391;
  background-color: white;
  border: 1px solid #359391;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

.pakage-Retreats > img {
  width: 10%;
  border-radius: 50px;
}

/* for medium screen */
@media (max-width: 1035px) {
  #pakages-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* for small screen */
@media (max-width: 800px) {
  #packages {
    margin: 0;
  }
  #pakages-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* footer */

.footer-container {
  width: 93vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows:repeat(1,300px) ; */
  gap: 30px;
}

.footer-right a {
  text-decoration: none;
  color: black;
}

.footer-right p,
h3 {
  margin-bottom: 10px;
}

.footer-left {
  width: 150px;
  margin-left: 20px;
}

.footer-left-top a {
  text-decoration: none;
}

.footer-left-middle {
  margin-top: 10px;
  width: 100%;
  font-size: 25px;
}

.footer-left-middle a {
  color: black;
}

.footer-left-middle a:hover {
  color: blue;
}

.footer-left-bottom {
  width: 100%;
}

.footer-left-bottom img {
  width: 150px;
  height: 100px;
}

#up {
  margin-top: 50px;
  margin-bottom: 50px;
}

#down {
  margin-top: 50px;
  margin-bottom: 10px;
}

center {
  margin-bottom: 50px;
}

/* medium-Screen */
@media (max-width: 800px) {
  
  .Highlights-childs {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* small-screen */
@media (max-width: 500px) {
  .Highlights-childs {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}